.lmj-banner {
    margin: 0;
    color: black;
    text-align: left;
    /* padding: 2px; */
    background-color: pink;
    border-bottom: solid 3px black;
}

.lmj-logo {
    margin-left: 1rem;
    width: 10rem;
    height: 100%;
    border: solid 2px red;
}